<div class="column is-6">
   <% @posts.each do | post | %>
    <div class="box">
      <article class="media">
       <div class="media-content">
          <div class="content">
       
             <p><%= post.post %> </p>
          </div>
           <% if user_signed_in? %>
           <em>By:</em> <%= post.user.username %>
           
           <% end %>
      </article>

     </div>
  <% end %>
</div>