<h1 class = "title has-text-centered">Editing Post</h1>

<%= render 'form', post: @post %>

<div class = "container has-text-centered">
  <%= link_to 'Show', @post, class: "has-text-primary"  %> |
  <%= link_to 'Back', posts_path, class: "has-text-primary"  %>
</div>
